/* Remember to sort */ 

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  height: auto;
  font-family: 'Trebuchet MS';
}

a:link {
  color: inherit;
  text-decoration: inherit;
}

a:visited {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: inherit;
  text-decoration: inherit;
}

a:active {
  color: inherit;
  text-decoration: inherit;
}

.header {
  width: 100vw;
  height: auto;
  background-color: #f5f5f5;
  border-radius: 0px 0px 10px 10px;
  position: fixed;
  z-index: 9999;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.header > div {
  margin: 25px;
}

#logo {
  width: 8vw;
  margin-left: 25px;
}

#title {
  font-size: calc(2vw + .5rem);
  font-weight: bold;
  margin-left: 25px;
}

.main {
  width: 100vw;
  height: 101vh;
  background-color: rgb(0, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: calc(6vw + .5rem);
  overflow: hidden;
}

.main > div {
  width: auto;
  height: auto;
}

.main > a {
  margin: auto;
}

.image {
  width: 100vw;
  height: 101vh;
  background-image: url(../images/homepageImage.jpg);
  background-size: cover;
  background-position: center top;
  position: absolute;
  z-index: -1;
}

#sloganTitle {
  height: 35vh;
  display: flex;
  align-items: flex-end;
  margin: 5vh 0px 0px 5vw;
}

#slogan {
  height: auto;
  margin: 5vh 0px 0px 5vw;
}

.sloganStyling {
  font-weight: bold;
  color: #7A87FF;
}

#rentButton {
  width: calc(10vw + 1rem);
  height: calc(6vh + .5rem);
  border-radius: calc((8vh + .5rem)/4);
  background-color: #7A87FF;
  font-size: calc(10% + .5rem);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

#rentButton:hover {
  cursor: pointer;
  background-color: red;
}

.footer {
  height: auto;
  width: 100vw;
  background-color: #f5f5f5;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  font-size: calc(1vw + .5rem);;
  padding: 50px 0px 50px 0px;
  line-height: 1.5em;
  border-radius: 10px 10px 0px 0px;
  position: absolute;
  top: 100vh;
}

.footer > div {
  display: flex;
  flex-direction: column;
}

@media (orientation: portrait) {
  #rentButton {
    width: calc(10vh + 1rem);
    height: calc(8vw + .5rem)
  }
}
