body {
  margin: 0;
  overflow-x: hidden;
  height: 200vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
  width: 100vw;
  height: calc(5vh + 3rem);
  background-color: #f5f5f5;
  border-radius: 0px 0px 25px 25px;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

#logo {
  width: 5vw;
  margin-left: 25px;
}

#title {
  font-size: calc(1vw + .5rem);
  font-weight: bold;
  margin-left: 25px;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: calc(6vw + .5rem);
  overflow: hidden;
  background-color: red;
}

.main > div {
  width: auto;
  height: auto;
  background-color: teal;
}

#sloganTitle {
  height: 35vh;
  display: flex;
  align-items: flex-end;
  margin: 5vh 0px 0px 5vw;
}

#slogan {
  height: auto;
  margin: 5vh 0px 0px 5vw;
}

.sloganStyling {
  font-weight: bold;
  color: blue;
}

#rentButton {
  
}