/* Remember to sort */ 

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  height: auto;
  font-family: 'Trebuchet MS';
}

a:link {
  color: inherit;
  text-decoration: inherit;
}

a:visited {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: inherit;
  text-decoration: inherit;
}

a:active {
  color: inherit;
  text-decoration: inherit;
}

#header {
  width: 100vw;
  height: auto;
  background-color: #f5f5f5;
  border-radius: 0px 0px 10px 10px;
  position: fixed;
  z-index: 9999;
  display: flex;
  flex-direction: row;
}

#header > div {
  width : 50%;
}

#logoTitle {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#menu > div {
  width: auto;
  margin: auto;
}

.menuItem {
  font-size: calc(1vw + .5rem);
}

.menuItem:hover {
  color: #6675ff;
}

#logo {
  width: 8vw;
  min-width: 42px;
  min-height: 42px;
  margin-left: 25px;
}

#title {
  font-size: calc(2vw + .5rem);
  font-weight: bold;
  margin-left: 25px;
}

.main {
  width: 100vw;
  height: 101vh;
  background-color: rgb(0, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: calc(6vw + .5rem);
  overflow: hidden;
}

.main > div {
  width: auto;
  height: auto;
}

.main > a {
  margin: auto;
}

.backgroundImage {
  width: 100vw;
  height: 101vh;
  background-image: url(../images/homepageImage.jpg);
  background-size: cover;
  background-position: center top;
  position: absolute;
  z-index: -1;
}

#sloganTitle {
  height: 35vh;
  display: flex;
  align-items: flex-end;
  margin: 5vh 0px 0px 5vw;
}

#slogan {
  height: auto;
  margin: 5vh 0px 0px 5vw;
}

.sloganStyling {
  font-weight: bold;
  color: #7A87FF;
}

#rentButton {
  width: calc(10vw + 1rem);
  height: calc(6vh + .5rem);
  border-radius: calc((8vh + .5rem)/4);
  background-color: #7A87FF;
  font-size: calc(10% + .5rem);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

#rentButton:hover {
  cursor: pointer;
  background-color: #6675ff;
}

.footer {
  height: auto;
  width: 100vw;
  background-color: #f5f5f5;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  font-size: calc(1vw + .5rem);
  padding: 15px 0px 15px 0px;
  line-height: 1.5em;
  position: absolute;
  top: 100vh;
}

#productsFooter {
  top: auto;
}

.footer > div {
  display: flex;
  flex-direction: column;
  line-height: 2em;
  margin: 20px;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 10px;
}

#twitter {
  width: 50px;
  margin-left: 20px;
}

#instagram {
  width: 50px;
  margin-left: 20px;
}

#facebook {
  width: 50px;
}

.productsMain {
  width: 100vw;
  min-height: 100vh;
  height: auto;
  position: relative;
}

.productsMainFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 15vh;
}

.productsMainFlex > div {
  width: 500px;
  height: 550px;
  margin: 50px;
  border-radius: 25px;
  box-shadow: 5px 5px 10px gray;
  display: flex;
  flex-direction: column;
}

.cardImage {
  width: 100%;
  height: 50%;
  border-radius: 25px 25px 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.cardText {
  width: 100%;
  height: 50%;
  border-radius: 0px 0px 25px 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
}

.cardText > div {
  height: 50%;
}

.cardTextMargin {
  padding: 25px;
  width: calc(100% - 50px);
}

.carName {
  font-size: 2em;
}

.carType {
  font-size: 1em;
}

.carCost {
  font-size: 2em;
}

.productButton {
  height: 50px;
  width: 150px;
  border-radius: 15px;
  border: 2px solid #7A87FF;
  color: #7A87FF;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productButton:hover {
  background-color: #7A87FF;
  color: #ffffff;
}

.mailAdress {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 25px;
  width: 100%;
}

#audiA6 {
  background-image: url(../images/products/audiA6.jpg);
}

#renaultKadjar {
  background-image: url(../images/svg/missingProduct.svg);
  background-size: 50%;
}

#subaruOutback {
  background-image: url(../images/products/subaruOutback.jpg);
}

#cadillacEscalade {
  background-image: url(../images/products/cadillacEscalade.jpg);
}

#mitsubishiOutlander {
  background-image: url(../images/products/mitsubishiOutlander.jpg);
}

#volvoXC40 {
  background-image: url(../images/products/volvoXC40.jpg);
}

#vwPolo {
  background-image: url(../images/products/vwPolo.jpg);
}

#kiaCarens {
  background-image: url(../images/svg/missingProduct.svg);
  background-size: 50%;
}

#kiaSoul {
  background-image: url(../images/svg/missingProduct.svg);
  background-size: 50%;
}

/* Stuff until @media are yoinked from https://codepen.io/alvarotrigo/pen/wvrzPWL, with changes */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: none;
}

.container {
  max-width: 1050px;
  width: 100%;
  margin: auto;
  position: absolute;
  left: 0;
}

.navbar {
  width: 100%;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover{
    color: red;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  background-color: #7A87FF;
  padding-top: 120px;
  margin-top: -2em;
  height: 100vh;
  width: 1000%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
  text-align: left;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translate(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
}

@media (orientation: portrait) {
  .footer {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #rentButton {
    width: calc(10vh + 1rem);
    height: calc(8vw + .5rem)
  }
  
  .productsMainFlex {
    padding-top: 5vh;
  }

  #header {
    justify-content: flex-start;
  }

  #menu {
    display: none;
  }

  #logoTitle {
    margin-left: -50px;
  }

  nav {
    display: inline-block;
  }

}

@media (max-width: 1200px){
  .productsMainFlex > div {
    width: 60vw;
  }
}

@media (max-width: 750px){
  .productsMainFlex > div {
    width: 80vw;
    min-height: 50vh;
    max-height: 350px;
    font-size: .5em;
  }
  .productButton {
    width: 100px; 
    height: 35px
  }
}

@media (max-width: 300px){
  .cardTextMargin {
    padding: 10px;
    width: 100%;
  }
}