/* Remember to sort */ 

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  height: auto;
  font-family: 'Trebuchet MS';
}

a:link {
  color: inherit;
  text-decoration: inherit;
}

a:visited {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: inherit;
  text-decoration: inherit;
}

a:active {
  color: inherit;
  text-decoration: inherit;
}

#header {
  width: 100vw;
  height: auto;
  background-color: #f5f5f5;
  border-radius: 0px 0px 10px 10px;
  position: fixed;
  z-index: 9999;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#header > div {
  margin: 10px auto 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#produkter {
  font-size: calc(1vw + .5rem);
}

#produkter:hover {
  color: #6675ff;
}

#logo {
  width: 8vw;
  margin-left: 25px;
}

#title {
  font-size: calc(2vw + .5rem);
  font-weight: bold;
  margin-left: 25px;
}

.main {
  width: 100vw;
  height: 101vh;
  background-color: rgb(0, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: calc(6vw + .5rem);
  overflow: hidden;
}

.main > div {
  width: auto;
  height: auto;
}

.main > a {
  margin: auto;
}

.backgroundImage {
  width: 100vw;
  height: 101vh;
  background-image: url(../images/homepageImage.jpg);
  background-size: cover;
  background-position: center top;
  position: absolute;
  z-index: -1;
}

#sloganTitle {
  height: 35vh;
  display: flex;
  align-items: flex-end;
  margin: 5vh 0px 0px 5vw;
}

#slogan {
  height: auto;
  margin: 5vh 0px 0px 5vw;
}

.sloganStyling {
  font-weight: bold;
  color: #7A87FF;
}

#rentButton {
  width: calc(10vw + 1rem);
  height: calc(6vh + .5rem);
  border-radius: calc((8vh + .5rem)/4);
  background-color: #7A87FF;
  font-size: calc(10% + .5rem);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

#rentButton:hover {
  cursor: pointer;
  background-color: #6675ff;
}

.footer {
  height: auto;
  width: 100vw;
  background-color: #f5f5f5;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  font-size: calc(1vw + .5rem);
  padding: 15px 0px 15px 0px;
  line-height: 1.5em;
  position: absolute;
  top: 100vh;
}

#productsFooter {
  top: auto;
}

h1 {
  line-height: .5em;
}

.footer > div {
  display: flex;
  flex-direction: column;
  line-height: 2em;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 10px;
}

#twitter {
  width: 50px;
  margin-left: 20px;
}

#instagram {
  width: 50px;
  margin-left: 20px;
}

#facebook {
  width: 50px;
}

.productsMain {
  width: 100vw;
  min-height: 100vh;
  height: auto;
  position: relative;
}

.productsMainFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 15vh;
}

.productsMainFlex > div {
  width: 500px;
  height: 550px;
  margin: 50px;
  border-radius: 25px;
  box-shadow: 5px 5px 10px gray;
  display: flex;
  flex-direction: column;
}

.cardImage {
  width: 100%;
  height: 50%;
  border-radius: 25px 25px 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.cardText {
  width: 100%;
  height: 50%;
  border-radius: 0px 0px 25px 25px;
  display: flex;
  justify-content: flex-start;
  text-align: start;
}

.cardTextMargin {
  margin: 15px;
}

.carName {
  font-size: 2em;
}

.carType {
  font-size: 1em;
}

.carCost {
  font-size: 2em;
}

#audiA6 {
  background-image: url(../images/products/audiA6.jpg);
}

#renaultKadjar {
  background-image: url(../images/svg/missingProduct.svg);
  background-size: 50%;
}

#subaruOutback {
  background-image: url(../images/products/subaruOutback.jpg);
}

#cadillacEscalade {
  background-image: url(../images/products/cadillacEscalade.jpg);
}

#mitsubishiOutlander {
  background-image: url(../images/products/mitsubishiOutlander.jpg);
}

#volvoXC40 {
  background-image: url(../images/products/volvoXC40.jpg);
}

#vwPolo {
  background-image: url(../images/products/vwPolo.jpg);
}

#kiaCarens {
  background-image: url(../images/svg/missingProduct.svg);
  background-size: 50%;
}

#kiaSoul {
  background-image: url(../images/svg/missingProduct.svg);
  background-size: 50%;
}

@media (orientation: portrait) {
  #rentButton {
    width: calc(10vh + 1rem);
    height: calc(8vw + .5rem)
  }
}

@media (max-height: 800px){
  .productsMainFlex > div {
    width: 200px;
    height: 250px;
  }
  .carName {
    font-size: 1em;
  }
  .carType {
    font-size: .75em;
  }
  .carCost {
    font-size: 1em;
  }
}

@media (max-height: 400px){
  .productsMainFlex > div {
    width: 100px;
    height: 150px;
  }
  .cardTextMargin {
    margin: 5px;
    line-height: 10px;
  }
  .carName {
    font-size: .75em;
  }
  .carType {
    font-size: .5em;
  }
  .carCost {
   font-size: .65em;
  }
  #title {
    font-size: calc(1vw + .35rem);
  }
  .main {
    font-size: calc(3vw + .35rem);
  }
}

@media (max-width: 600px){
  #twitter {
    width: 25px;
    margin-left: 10px;
  }
  
  #instagram {
    width: 25px;
    margin-left: 10px;
  }
  
  #facebook {
    width: 25px;
  }
  .footer {
    font-size: calc(.5vw + .5rem);
    line-height: 1em;
  }
  h1 {
    font-size: 1.5em;
  }
}